* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

header {
    float: left
}

header.hover {
    text-decoration: underline;
}

header a {
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    display: inline;
    text-decoration: none;
    font-size: 200;
    color: rgb(26, 24, 24);
}

.about {
    float: left;
}

.store {
	float: left;
}

.gmail {
	float: right;
}

.images {
	float: right;
}

body {
	text-align: justify;
}