* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
    text-decoration: none;
}

header.hover {
    text-decoration: underline;
}

.about {
    float: left;
    padding: 10px;
}

.store {
	float: left;
    padding: 10px;
}

.gmail {
	float: right;
    padding: 10px;
}

.images {
	float: right;
    padding: 10px;
}

body {
	text-align: justify;
}